/* hero area */
.hero-bg video {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.hero.text-hero{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.hero-area {
    position: relative;
    z-index: 1;
}