.feature-area{
    background-image: url('../../../Image/section-bg-1.png');
    padding: 100px 0;
}

.mini-title {
    margin-bottom: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(48 190 173 / var(--tw-text-opacity));
}

.column-title {
    margin-bottom: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(12 19 39 / var(--tw-text-opacity));
}

.shape-bg {
    display: inline-block;
    background-image: url('../../../Image/line-shape.svg');
    background-repeat: no-repeat;
    padding-bottom: 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(255 126 132 / var(--tw-text-opacity));
    background-size: 100%;
    background-position: center bottom;
    margin: 0 10px;
}